@media screen and (max-width: 1024px) {
    body {
        font-size: 16px;
    }
    span {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    p,
    button,
    a,
    li {
        font-size: 1rem;
        line-height: 1.5rem;
        span {
            font-size: 100%;
            line-height: 1.5;
        }
    }
    .banner-section .banner-div .content-div h1 {
        font-size: 2rem;
        font-weight: 300;
        line-height: 3rem;
        span {
            font-size: 2rem;
            line-height: 3rem;
        }
        a {
            font-size: 2rem;
            line-height: 3rem;
        }
    }
    h1 {
        font-size: 2rem;
        line-height: 3rem;
        span {
            font-size: 100%;
            line-height: 1.5;
        }
    }
    h2 {
        font-size: 2rem;
        line-height: 3rem;
        span,
        a {
            font-size: 100%;
            line-height: 1.5;
        }
    }
    h3 {
        font-size: 2rem;
        line-height: 3rem;
        span,
        a {
            font-size: 100%;
            line-height: 1.5;
        }
    }
    h5 {
        font-size: 1.7rem;
        line-height: 2.55rem;
    }
    .technology-box {
        font-size: 1.875rem;
        line-height: 2.8125rem;
    }
    .ourtechnology-section .our-technology-listing .technology-box a .hover-description p {
        font-size: 1rem;
        line-height: 1.5;
    }
    .sub-heading {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .project-container-main .project-two .project-content-two h2 {
        font-style: normal;
    }
    .ourtechnology-section .our-technology-listing .technology-box a .hover-description h3 {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
    .project-container-main .owl-dot:before {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .testimonial-section .testimonial-inner .testimonial-content h3 {
        font-size: 1.7rem;
        line-height: 2.55rem;
    }
    .testimonial-section .testimonial-inner .testimonial-img .owner-info h3 {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .testimonial-section .testimonial-inner .testimonial-img .owner-info p {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .cb-menu-conatiner .cb-menu-inner-welcome .welcome-menu ul li a {
        font-size: 6.125rem;
        line-height: 9.1875rem;
    }
    .cb-menu-conatiner .cb-menu-inner-welcome .welcome-menu.cb-menu-list ul li a.welcome-link {
        font-size: 2.875rem;
        line-height: 4.3125rem;
    }
    .project-form .project-inner .form-heaeding h3 {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
    .project-view-section .project-view-div .heading-section h2 a {
        font-size: 2rem;
        line-height: 3rem;
    }
    .inner-page .scope-of-work-section .scope-of-work-inner .scope-of-work-heading h2 a {
        font-size: 2rem;
        line-height: 3rem;
    }
    .service-details-div .heading-div h2 {
        font-size: 2.5rem;
        line-height: 3.75rem;
    }
    .career-link-section .card h2.card-title {
        font-size: 1.7rem;
        line-height: 2.55rem;
        a {
            font-size: 1.7rem;
            line-height: 2.55rem;
        }
    }
    .career-link-section .card h3.card-subtitle {
        font-size: 1.3rem;
        line-height: 1.95rem;
    }
    .career-link-section .card .card-body .job-info span {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
    .career-form .form-heaeding h3 {
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .blog-listing-section .blog-listing-inner .blog-lisiting-all.blog-lisiting .blog-item .blog-content .blog-title h3 {
        font-size: 1.5rem;
        line-height: 2.25rem;
    }
    .blog-listing-section
        .blog-listing-inner
        .blog-lisiting-all.blog-lisiting
        .blog-item
        .blog-content
        .blog-info
        span {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
    .blog-listing-section .blog-listing-inner .blog-lisiting-all.blog-lisiting .blog-item .blog-content .blog-detaile {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .blog-detail-section .blog-subtitle h2 {
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .blog-detail-section .blog-detail-info h2 {
        font-size: 2rem;
        line-height: 2.5rem;
        strong {
            font-weight: 600;
        }
    }
    .blog-detail-section .blog-detail-info h3 {
        font-size: 1.5rem;
        line-height: 2.25rem;
    }
    .blog-detail-section .blog-detail-info h4 {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
    .blog-detail-section .blog-detail-info h5 {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .blog-listing-section .blog-listing-inner .blog-lisiting-all .blog-item .blog-footer a h3 {
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .sitemap-section .sitemap-inner .sitemap-box h3 {
        font-size: 1.5rem;
        line-height: 2.25rem;
    }
    .career-details-section .career-details-div .content-div-root h2 {
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .project-view-section .project-view-div .heading-section h2 {
        font-size: 2rem;
    }
    .recent-post-section .blog-listing-inner .blog-lisiting-all .blog-item .blog-footer a h3 {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
    .recent-post-section .blog-listing-inner .blog-lisiting-all .blog-item .blog-footer .blog-info {
        font-size: 1rem;
    }
    .project-view-section .project-view-div .single-item h2 {
        font-size: 1.5rem;
        line-height: 2.25rem;
    }
    .inner-page .menubar-header .header-div .header-work-text a span {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .services-box-section .services-box-div .content-div h3 {
        font-size: 1.375rem;
        line-height: 1.2;
    }
    .services-box-section .services-box-div .content-div h2 {
        font-size: 2rem;
        line-height: 1.2;
    }
    .services-box-section .services-box-div .content-div span.number-span {
        font-size: 10rem;
        line-height: 1.2;
    }
    .cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-work ul li .work-item .work-number span {
        font-size: 3.75rem;
        line-height: 5.625rem;
    }
    .cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-work ul li.active .work-content h3 {
        font-size: 1.43rem;
        line-height: 2.15625rem;
    }
    .cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-work ul li.active .work-content p {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-work ul li.active .work-arrow {
        font-size: 1.25rem;
        line-height: 1.875rem;
    }
    .cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-technolgy ul li .cb-content h3 {
        font-size: 1.5rem;
        line-height: 2.25rem;
    }
    .cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-technolgy ul li .cb-content p {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-service ul li .cb-content h3 {
        font-size: 1.5rem;
        line-height: 2.25rem;
    }
    .cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-service ul li .cb-content p {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .scope-of-work-inner .scope-of-work-grid-listing .title h4 {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .scope-of-work-inner .scope-of-work-grid-listing .dec p {
        font-size: 1.25rem;
        line-height: 1.875rem;
    }
    // .banner-section .banner-div {
    //     max-height: 768px;
    //     min-height: inherit;
    // }
    .banner-section .banner-div .content-div {
        max-height: 768px;
        min-height: inherit;
    }
    #slideContainer {
        min-height: inherit;
        max-height: 540px;
    }
    .project-container-main {
        min-height: inherit;
        max-height: 540px;
    }
    #pinContainer #slideContainer .panel {
        min-height: 540px;
        max-height: 540px;
    }
    .testimonial-section {
        min-height: inherit;
    }
    .inner-page .banner-workdetail-page {
        // height: 768px;
        // min-height: inherit;
        // max-height: 768px;
    }
    .banner-section img.banner-img {
        max-height: 768px;
    }
    .service-details-section {
        min-height: inherit;
    }
    .interview-section {
        min-height: inherit;
    }
    .project-list a .container {
        max-width: 768px;
    }
    .career-link-section {
        min-height: inherit;
    }
    .project-container-main .project-two .project-content-two {
        padding-top: 20px;
    }
    .project-container-main .owl-dots {
        bottom: 71px;
    }
    .project-container-main .btn-case-study.button-common-div {
        bottom: 50px;
    }
    .project-container-main .project-menu {
        bottom: 50px;
    }
    .testimonial-section {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .testimonial-section .testimonial-inner .testimonial-img .testi-thumb {
        width: 180px;
    }
    .testimonial-section .testimonial-inner .testimonial-img .owner-img {
        height: 180px;
        width: 180px;
    }
    .testimonial-section .testimonial-inner .testimonial-img .testi-thumb .outlined-box {
        width: 180px;
        height: 259px;
    }
    .testimonial-section .testimonial-inner .testimonial-img .owner-info {
        max-width: 180px;
        padding: 10px 10px;
    }
    .testimonial-section .testimonial-inner .testimonial-content {
        max-width: 90%;
        padding-right: 0px;
    }
    .footer-root .footer-inner .messages-text-heading {
        margin: 0 0 20px 0;
    }
    .footer-root .footer-inner .button-row {
        margin: 0 0 20px 0;
    }
    .footer-root .info-link-footer-div .contact-info-footer {
        margin: 30px 0 40px 0;
    }
    .footer-root .info-link-footer-div .footer-link {
        margin: 30px 0 0 0;
    }
    .recent-post-section .blog-listing-inner .blog-lisiting-all .blog-item .blog-body a {
        height: 230px;
    }
    .blog-listing-section {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .sitemap-section .sitemap-inner .sitemap-box ul li {
        margin-bottom: 20px;
    }
    .sitemap-section .sitemap-inner .sitemap-box {
        margin-bottom: 0;
    }
    .sitemap-section .sitemap-inner .sitemap-box ul li {
        padding-left: 20px;
    }
    .sitemap-section .sitemap-inner .sitemap-box h3 {
        margin-bottom: 20px;
    }
    .recent-post-section .blog-listing-inner .blog-lisiting-all .blog-item .blog-footer .blog-info {
        flex-direction: column;
    }
    .recent-post-section .blog-listing-inner .blog-lisiting-all .blog-item .blog-footer a span {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .column-40 {
        display: none;
    }
    .column-60 {
        width: 100%;
        max-width: 100%;
        flex: 1;
    }
    .cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option {
        width: 50%;
    }
    .cb-menu-conatiner .cb-menu-inner-welcome .welcome-menu.cb-menu-list {
        width: 50%;
    }
    .footer-root .footer-inner .container-lg-2 {
        padding-left: 90px;
        padding-right: 90px;
    }
    .testimonial-two-section .owl-theme .owl-nav {
        padding: 20px 15px;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .cb-menu-footer {
        flex-direction: row;
        .cb-social-link ul li {
            padding: 0 0 0 20px !important;
        }
    }
}
