
@media screen and (max-width: 768px) {
    .testimonial-section {
        padding-left: 100px;
        padding-right: 100px;
    }
    .testimonial-section .testimonial-inner .heading-div{
        padding-left: 0px;
    }
    .inner-page .banner-workdetail-page .banner-div .banner-img-right {
    display: none;
    }
    .order-2 {
        order: 0;
    }
     

    
}

